PORT=4000
MONGODB_URI=mongodb+srv://anishsaranathcs24_db_user:27051939@cluster0.2undrzy.mongodb.net/?appName=Cluster0
MONGODB_DB_NAME=
JWT_SECRET=change-this-secret
VOLUNTEER_USERNAME=volunteer
VOLUNTEER_PASSWORD=VolunteerSigmod
ADMIN_PASSWORD=271939
